* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100dvh;
}

.header,
.section-one,
.footer {
    background-color: #1F2937;
}

.header-logo {
    font-size: 1.5rem;
    color: #F9FaF8;
}

.section-one {
    display: flex;
    padding: 2rem 6rem;
    gap: 1em;
}

.section-one-img {
    width: 400px;
    height: 320px;
}

.section-one h1 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.section-two-h2 {
    font-size: 2.25rem;
    font-weight: 900;
    color: #1F2937;
    margin: auto;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.section-one-signup-btn,
.section-four-signup-btn {
    background-color: #3882F6;
    padding: 7px 21px;
    border-radius: 8px;
    display: inline-block;
}

.section-one-signup-btn:hover,
.section-four-signup-btn:hover {
    text-decoration: none !important;
}

.section-one-signup-btn {
    color: white;
}

.section-four-signup-btn {
    color: white;
    border: 2px solid white;
}

.section-one-left {
    margin: 0 2rem 0 0;
}


.header {
    display: flex;
    padding: 1em 6.25rem;
}

.section-one-h1 {
    margin-bottom: 1rem;
}

.section-one-p {
    margin-bottom: 1rem;
}

.header li, 
.section-one-p {
    font-size: 18px;
    color: #E5E7EB;
}

.nav {
    display: flex;
    margin-left: auto;
}

a {
    text-decoration: none;
}

a:focus,
a:hover,
li:hover {
    color:aqua;
    text-decoration: underline;
}



.header a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.section-two {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
}

.section-two-card-container {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.section-two-card {
    width: 200px;
    padding: 0rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-image {
    width: 200px;
    height: 133px;
    margin-bottom: 1rem;
    border: 2px solid #3882F6;
    border-radius: 8px;
}


.section-three {
    background-color: #E5E7EB;
    margin: auto;
    padding: 6rem 12rem;
}

.section-three-quote {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.section-three-author {
    text-align: right;
    margin-top: 1rem;
    margin-right: 4rem;
    font-weight: bold;
}

.section-four {
    padding: 4rem;
}

.section-four-sub-container {
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 2rem 4rem;
    border-radius: 8px;
}

.call-to-action {
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.footer {
    text-align: center;
    color: white;
    padding: 2rem;
}